include AUTHORS
include INSTALL
include CHANGELOG.md
include LICENSE
include MANIFEST.in
recursive-include pysberbank *
recursive-include tests *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
